<div class="project-wrapper">
    <div class="project-image-container">
        <img
            class="project-image"
            src="./assets/img/{{ projects[0]['image'] }}"
        />
        <div class="project-border"></div>
        <img class="project-arrow" src="./assets/img/project_arrow.svg" />
    </div>
    <div class="desc-wrapper">
        <div class="description-card">
            <h3>{{ projects[0]["name"] }}</h3>
            <span> {{ projects[0]["subheadline"] }}</span>
            <p>
                {{ projects[0]["desc"] }}
            </p>
            <div class="project-btns">
                <a href="#" class="button">Live Test</a>
                <a
                    href="https://github.com/DennisKoester"
                    target="_blank"
                    class="button"
                >
                    Github
                </a>
            </div>
        </div>
    </div>
    <p>01/05</p>
</div>
