<div class="project-wrapper">
    <div class="project-image-container">
        <img class="project-image" src="./assets/img/project-image.png" />
        <div class="project-border"></div>
        <img class="project-arrow" src="./assets/img/project_arrow.svg" />
    </div>
    <div class="desc-wrapper">
        <div class="description-card">
            <h3>Join</h3>
            <span>Angular | Typescript | HTML | CSS | Firebase</span>
            <p>
                Task manager inspired by the Kanban System. Create and organize
                tasks using drag and drop functions, assign users and
                categories.
            </p>
            <div class="project-btns">
                <a href="#" class="button">Live Test</a>
                <a href="https://github.com/DennisKoester" target="_blank" class="button">
                    Github
                </a>
            </div>
        </div>
    </div>
    <p>01/05</p>
</div>
