<section>
    <div id="about-me">
        <h2>About me</h2>
        <div class="about-me-container">
            <div class="row">
                <div data-aos="fade-up" class="about-col-1">
                    <p>
                        Hey guys, I'm a front-end developer with a background as
                        an automotive master mechanic. Over the years, my
                        experience has taught me logical and analytical
                        thinking, which I now apply to my work as a developer. I
                        use my skills to analyze complex systems and develop
                        efficient solutions. I also value precision and
                        attention to detail, which I apply to my projects. I've
                        always been fascinated by technology and love learning
                        the latest tech trends and advancements. This love for
                        technology finally led me to pursue a career in the tech
                        industry.
                        <br />
                        <br />

                        If you think I’d be a good match for your projects,
                        contact me!
                    </p>
                    <div
                        class="button"
                        (click)="navigate.forceNavigate('contact')"
                    >
                        Let's talk
                    </div>
                </div>
                <div
                    data-aos="fade-left"
                    data-aos-delay="100"
                    class="about-col-2"
                >
                    <img
                        class="profile-image"
                        src="./assets/img/profile_photo1.png"
                    />
                    <div class="img-border"></div>
                </div>
            </div>
        </div>
    </div>
</section>
