<section>
    <div id="about-me">
        <h2>About me</h2>
        <div class="about-me-container">
            <div class="row">
                <div class="about-col-1">
                    <p>
                        I am a Front-end deverloper based in München, Germany. I
                        help designers and companies to bring their ideas to
                        real life. Creativity and logical thinking are skills
                        that I have developed to connect ideas into quality
                        products.<br /><br />

                        If you think I’d be a good match for your projects,
                        contact me!
                    </p>
                    <a class="button" href="#contact">Let's talk</a>
                </div>
                <div class="about-col-2">
                    <img src="./assets/img/profile_photo1.png" />
                    <div class="img-border"></div>
                </div>
            </div>
        </div>
    </div>
</section>
