<div id="header" class="">
    <div class="header-wrapper">
        <a href="#"><img class="logo" src="assets/img/logo.svg" /></a>

        <div class="normal-menu">
            <nav>
                <ul>
                    <li><a href="#">About me</a></li>
                    <li><a href="#">My skills</a></li>
                    <li><a href="#">Portfolio</a></li>
                </ul>
            </nav>
        </div>

        <img
            class="burger-menu d-none"
            src="assets/img/burger_menu.svg"
            alt="burger menu"
        />
    </div>
</div>
