.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    width: 85%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 2;

    .logo {
        height: 30px;
        width: auto;
    }

    .burger-menu {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    nav ul {
        list-style: none;
        font-size: 23px;

        li {
            display: inline-block;
            margin-left: 40px;

            a {
                text-decoration: none;
                font-weight: bold;
                color: unset;

                &:hover {
                    color: var(--text-orange);
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .burger-menu {
        display: block !important;
    }

    nav {
        display: none;
    }
}
