<div id="header" class="">
    <div class="header-wrapper">
        <a href="#"><img class="logo" src="assets/img/logo.svg" /></a>
        <img
            class="burger-menu d-none"
            src="assets/img/burger_menu.svg"
            alt="burger menu"
        />
        <nav>
            <ul>
                <li><a href="#">About me</a></li>
                <li><a href="#">Skill set</a></li>
                <li><a href="#">My work</a></li>
            </ul>
        </nav>
    </div>
</div>
