#footer {
    color: var(--cream);
    background-color: black;
    height: 120px;
    width: 100%;
}

.footer-wrapper {
    width: 85%;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    p {
        font-family: "Overpass";
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
    }
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.legal-notice {
    color: var(--cream);
    font-family: "Overpass";
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    white-space: nowrap;
    text-decoration: none;
    display: block;
    position: relative;
    overflow: hidden;
    transition: font-weight 225ms ease-in;
}

.legal-notice:hover {
    font-weight: 700;
}

.legal-notice::before {
    content: "";
    position: absolute;
    display: block;
    width: 55.5px;
    height: 2px;
    bottom: 0;
    left: 40px;
    background-color: var(--orange);
    transform: translateX(-200px) scale(0);
    transition: transform 225ms ease-in;
}

.legal-notice:hover::before {
    transform: translateX(0) scale(1);
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
    gap: 50px;

    a img {
        width: 30px;
        width: 30px;
        transition: transform 125ms ease-in-out;

        &:hover {
            transform: translateY(-10px);
        }
    }
}

.arrow-pageUp {
    position: absolute;
    right: 0;
    top: -90px;
    cursor: pointer;
}

@media (max-width: 600px) {
    #footer {
        height: 100%;
    }

    .footer-wrapper {
        padding-top: 47px;
        flex-direction: column-reverse;
    }

    .footer-left {
        margin: 20px 0 40px 0;
        align-items: center;

        p {
            font-weight: 300;
            line-height: 100%;
        }
    }

    .footer-right {
        align-items: center;
    }

    .arrow-pageUp {
        display: none;
    }

    .social-links {
        justify-content: center;
    }
}
