<div id="footer">
    <div class="footer-wrapper">
        <div class="footer-left">
            <img class="logo-footer" src="assets/img/logo_footer.svg" />
            <p>© Dennis Köster 2023</p>
        </div>
        <div class="footer-right">
            <div class="social-links">
            <a href="#"><img src="assets/img/github_icon.svg" /></a>
                <a href="#"><img src="assets/img/email_icon.svg" /></a>
                <a href="#"><img src="assets/img/linkedin_icon.svg" /></a>
            </div>
            <a class="legal-notice" href="#">Legal notice</a>
        </div>
        <img (click)="scrollToTop()" class="arrow-pageUp" src="assets/img/arrow_up.svg" />
    </div>
</div>
