<div id="about-me">
    <h2>About me</h2>
    <div class="about-me-container">
        <div class="row">
            <div class="about-col-1">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Adipisci, corporis modi perspiciatis, itaque inventore natus
                    molestiae qui nihil iste nulla autem praesentium in at illo
                    dignissimos ab, consectetur exercitationem quasi.
                </p>
                <div class="button">Let's talk</div>
            </div>
            <div class="about-col-2">
                <img src="./assets/img/profile_photo.jpg"/>
                <div class="img-border"></div>
            </div>
        </div>
    </div>
</div>
