#about-me {
    width: 85%;
    margin: 0 auto;
}

h2 {
    font-size: 78px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;

    .talk-button {
        margin-top: 58px;
        align-self: center;
        font-size: 23px;
        border: 4px solid #000000;
        padding: 20px 60px;
        text-align: center;
        width: 220px;
        transition: 125ms ease-in-out;
        cursor: pointer;

        &:hover{
            width: 280px;
            font-weight: bold;
        }
    }
}

.about-col-2 {
    flex-basis: 50%;
}

.about-col-2 img {
    width: 100%;
}

.about-me-container {
    margin-top: 52px;
}