#about-me {
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 148px;
    scroll-margin-top: 92px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    position: relative;

    p {
        font-family: "Overpass";
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
    }

    .button {
        position: relative;
        top: 58px;
    }
}

.about-col-2 {
    flex-basis: 50%;
    position: relative;
}

.about-col-2 img {
    width: 100%;
    height: 100%;
    max-height: 553px;
    object-fit: cover;
}

.img-border {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 15px;
    right: 0;
    top: 15px;
    bottom: 0;
    transition: 225ms;
    outline: 4px solid #000000;
    opacity: 0;
}

.about-col-2:hover > .img-border {
    opacity: 1;
}

.about-me-container {
    margin-top: 52px;
}

@media (max-width: 600px) {
    #about-me {
        margin-top: 38px;
        h2 {
            text-align: center;
        }
    }

    .about-me-container {
        margin-top: 38px;
    }

    .about-col-1 {
        margin-bottom: 138px;

        .button {
            display: none !important;
        }
    }

    .row {
        flex-direction: column;
    }
}
