#contact {
    background-image: url(/assets/img/bg_contact.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-wrapper {
    width: 85%;
    min-width: 230px;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 150px;
    color: var(--cream);
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 58px;
    text-align: center;

    p:first-child {
        font-family: Overpass, Helvetica, sans-serif;
        font-weight: 700;
        line-height: 120%;
        font-size: clamp(28px, 4vw, 32px);
        color: var(--orange);
        margin-bottom: 18px;
    }

    p {
        font-family: Overpass, Helvetica, sans-serif;
        font-weight: 400;
        font-size: clamp(18px, 3vw, 23px);
        line-height: 120%;
        margin-bottom: 52px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 60%;
        gap: 35px;
    }
}

input[type="text"],
textarea {
    color: var(--cream);
    background-color: black;
    width: 100%;
    height: 50px;
    border: unset;
    -webkit-box-shadow: 0px 3px 0px -1px var(--cream);
    box-shadow: 0px 3px 0px -1px var(--cream);
    resize: vertical;
    outline: none;
    padding-left: 25px;
    font-family: Overpass, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    transition: box-shadow 125ms ease-in-out;
    -webkit-appearance: none;

    &:hover {
        // border: 4px solid var(--cream);
        -webkit-box-shadow: 0px 0px 0px 4px var(--cream);
        box-shadow: 0px 0px 0px 4px var(--cream);
    }

    &:focus {
        // border: 2px solid var(--cream);
        -webkit-box-shadow: 0px 0px 0px 2px var(--cream);
        box-shadow: 0px 0px 0px 2px var(--cream);
    }
}

textarea {
    padding: 15px 25px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

.floating-label-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top: 15px;
    margin-bottom: 25px;

    span {
        font-family: Overpass, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: var(--red);
        margin-top: 10px;
    }

    img {
        position: absolute;
        right: 20px;
        top: 12px;
    }

    .floating-label {
        font-family: Overpass, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: var(--cream);
        background-color: black;
        margin-left: 20px;
        padding: 0 5px;
        position: absolute;
        pointer-events: none;
        top: 17px;
        left: 0px;
        width: max-content;
        transition: all 0.1s ease;
    }

    input:focus ~ .floating-label,
    input:not(:focus):valid ~ .floating-label {
        top: -9.5px;
        left: 0px;
        opacity: 1;
        color: var(--cream);
    }

    textarea:focus ~ .floating-label,
    textarea:not(:focus):valid ~ .floating-label {
        top: -9.5px;
        left: 0px;
        opacity: 1;
        color: var(--cream);
    }

    ::-webkit-resizer {
        background-image: url(/assets/img/resize_grabber.svg);
    }
}

.button {
    position: unset;
    color: var(--cream);
    background-color: black;
    border: 4px solid var(--cream);
    margin-bottom: 17px;
}

@media (max-width: 600px) {
    .contact-wrapper {
        padding-top: 60px;
    }

    .contact-form {
        form {
            width: 100%;
        }
    }

    .button {
        // padding: 20px 40px;
        width: 247px;
    }

    .contact-form {
        p {
            margin-bottom: 35px;
        }
    }

    .floating-label-group {
        margin: 0;
    }
}

@media (max-width: 320px) {
    .button {
        margin: 60px auto;
        font-size: 20px;
    }
}

@media (hover: hover) {
}
