.head-section {
    height: 100vh;
    height: calc(100svh - 92px);
    width: 85%;
    padding-top: 112px;
    margin: 0 auto;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        font-size: 10vw;
        font-weight: 800;
    }
}

.subheadline {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    white-space: nowrap;

    p {
        font-family: "Overpass";
        font-weight: 700;
        font-size: 5vw;
        color: var(--text-orange);
    }

    .underline {
        max-width: 628px;
        width: 100%;
        border: 3px solid #000000;
        margin-right: 15px;
    }
}

.message-btn {
    justify-content: center;
    margin: 107px auto;
    font-size: 23px;
    line-height: 120%;
    border: 4px solid #000000;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));
    padding: 20px 0px;
    width: 247px;
    height: 68px;
    transition: 125ms ease-in-out;
    cursor: pointer;

    a {
        font-family: "Overpass";
        text-decoration: none;
        color: inherit;
        white-space: nowrap;
    }
}

.address-scroll-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 300;
    font-size: 23px;
    line-height: 100%;
    position: absolute;
    bottom: 0;
    width: 85%;
    margin-bottom: 20px;
}

.email-address {
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.scroll-down-container {
    text-align: center;
}

.arrow-down {
    height: 150px;
    position: relative;
    overflow: hidden;
}

.arrow-down img {
    position: absolute;
    top: -220px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
    animation: arrowScroll 2600ms linear infinite;
}

@keyframes arrowScroll {
    0% {
        top: -220px;
    }

    50% {
        top: 220px;
    }

    100% {
        top: 220px;
    }
}

@media (max-width: 768px) {
    .message-btn {
        display: flex;
    }
}
