<div class="head-section">
    <div class="headline">
        <h1>Frontend</h1>
        <h1>Developer</h1>
        <div class="subheadline">
            <div class="underline"></div>
            <p>Dennis Köster</p>
        </div>
    </div>

    <div class="message-btn d-none">
        <a href="#">Send a message</a>
    </div>

    <div class="address-scroll-container">
        <a href="#contact" class="email-address">dennis.koester11@gmail.com</a>
        <div class="scroll-down-container">
            <div class="arrow-down">
                <img src="./assets/img/arrow_down.svg" />
            </div>
            <p>Scroll</p>
            <p>Down</p>
        </div>
    </div>
</div>
