<footer>
    <div id="footer">
        <div class="footer-wrapper">
            <div class="footer-left">
                <img class="logo-footer" src="assets/img/logo_footer.svg" />
                <p>© Dennis Köster {{ currentYear | date : "yyyy" }}</p>
            </div>
            <div class="footer-right">
                <div class="social-links">
                    <a href="https://github.com/DennisKoester" target="_blank"
                        ><img src="assets/img/github_icon.svg"
                    /></a>
                    <a href="mailto: dennis.koester11@gmail.com"
                        ><img src="assets/img/email_icon.svg"
                    /></a>
                    <a href="#" target="_blank"
                        ><img src="assets/img/linkedin_icon.svg"
                    /></a>
                </div>
                <a routerLink="imprint" class="legal-notice">Legal notice</a>
            </div>
            <div class="arrow-pageUp-container">
                <img
                    (click)="scrollToTop()"
                    class="arrow-pageUp"
                    src="assets/img/arrow_up.svg"
                />
            </div>
        </div>
    </div>
</footer>
