header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}

#header {
    height: 100%;
    background-color: var(--cream);

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 85%;
        max-width: 1400px;
        margin: 0 auto;
        gap: 30px;
    }

    .normal-menu {
        width: 450px;
    }

    .logo {
        height: 40px;
        width: auto;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-size: 26px;
        white-space: nowrap;
        padding: 0;

        li {
            display: inline-block;

            a {
                font-family: Syne, Helvetica, sans-serif;
                text-decoration: none;
                font-weight: bold;
                color: unset;
                transition: 125ms;

                &:active {
                    color: var(--orange);
                }
            }
        }
    }
}

.shadow {
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

@media only screen and (max-width: 600px) {
    .burger-menu {
        display: block !important;
    }

    nav {
        display: none;
    }
}

@media (hover: hover) {
    #header nav ul li a {
        &:hover {
            color: var(--orange);
        }
    }
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 70px;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.hamRotate.active .line {
    stroke: var(--orange);
}
.ham1 .top {
    stroke-dasharray: 40 139;
}
.ham1 .bottom {
    stroke-dasharray: 40 180;
}
.ham1.active .top {
    stroke-dashoffset: -98px;
}
.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

@media only screen and (max-width: 720px) {
    #header {
        .header-wrapper {
            width: 90%;
        }
        .logo {
            height: 28px;
        }
    }
}

@media only screen and (max-width: 480px) {
    header {
        height: var(--header-height-mobile);
    }

    .ham {
        width: 55px;
    }
}
