<header>
    <div id="header" class="">
        <div class="header-wrapper">
            <a routerLink="/"><img class="logo" src="assets/img/logo.svg" /></a>

            <div class="normal-menu">
                <nav>
                    <ul>
                        <li><a routerLink="#about-me">About me</a></li>
                        <li><a routerLink="#my-skills">My skills</a></li>
                        <li><a routerLink="#portfolio">Portfolio</a></li>
                    </ul>
                </nav>
            </div>

            <img (click)="toggleMenu()"
                class="burger-menu d-none"
                src="assets/img/burger_menu.svg"
                alt="burger menu"
            />
        </div>
    </div>
</header>
