#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--cream);
    z-index: 99;

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 85%;
        max-width: 1400px;
        margin: 0 auto;
    }

    .logo {
        height: 30px;
        width: auto;
    }

    .burger-menu {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    nav ul {
        list-style: none;
        font-size: 23px;
        white-space: nowrap;
        padding: 0;

        li {
            display: inline-block;
            margin-left: 35px;

            a {
                font-family: "Syne";
                text-decoration: none;
                font-weight: bold;
                color: unset;
                transition: 125ms;

                &:active {
                    color: var(--orange);
                }
            }
        }
    }
}

.shadow {
    // -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    // -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

@media only screen and (max-width: 600px) {
    .burger-menu {
        display: block !important;
    }

    nav {
        display: none;
    }
}

@media (hover: hover) {
    #header nav ul li a {
        &:hover {
            color: var(--orange);
        }
    }
}
