#portfolio {
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
}

.headline-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: min-content;
    margin: 0 auto;

    p {
        font-family: Overpass, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        margin-top: 35px;
    }
}

@media only screen and (max-width: 600px) {
    .headline-portfolio {
        width: unset;

        p {
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 300px) {
    .headline-portfolio {
        p {
            font-size: 16px;
        }
    }
}
