<section class="section" id="portfolio">
    <div class="portfolio">
        <div class="headline-portfolio">
            <h2>Portfolio</h2>
            <p data-aos="zoom-in-up">
                Here you can find a selection of the projects I have built. Feel
                free to try them out or have a look at the code on GitHub.
            </p>
        </div>
    </div>

    <app-project
        *ngFor="let project of projects; let i = index"
        [index]="i"
        [name]="project.name"
        [subheadline]="project.subheadline"
        [desc]="project.desc"
        [image]="project.image"
        [URL]="project.URL"
        [gitHub]="project.gitHub"
        [totalProjects]="projects.length"
    ></app-project>
</section>
