#portfolio {
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
}

.headline-portfolio {
    margin: 0 auto;
    text-align: center;

    p {
        font-family: Overpass, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        max-width: 700px;
        margin: 35px auto 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    .headline-portfolio {
        p {
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 300px) {
    .headline-portfolio {
        p {
            font-size: 16px;
        }
    }
}
