<div class="project-wrapper" [class.right-project-wrapper]="index % 2 > 0">
    <div class="project-image-container">
        <img class="project-image" src="./assets/img/{{ image }}" />
        <div class="project-border"></div>
        <img class="project-arrow" src="./assets/img/project_arrow.svg" />
    </div>
    <div class="desc-wrapper">
        <div class="description-card">
            <h3>{{ name }}</h3>
            <span> {{ subheadline }}</span>
            <p>
                {{ desc }}
            </p>
            <div class="project-btns">
                <a [routerLink]="['/slack-clone']" class="button">Live Test</a>
                <a
                    href="https://github.com/DennisKoester"
                    target="_blank"
                    class="button"
                >
                    Github
                </a>
            </div>
        </div>
    </div>
    <p>
        {{ index < 9 ? 0 : "" }}{{ index + 1 }}/{{ totalProjects < 9 ? 0 : ""
        }}{{ totalProjects }}
    </p>
</div>
