// Left Side //

.project-wrapper {
    width: 85%;
    max-width: 1400px;
    margin: 135px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    gap: 100px;

    p {
        font-family: Syne, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        font-feature-settings: "pnum" on, "lnum" on;
        position: absolute;
        top: -28px;
        right: 0;
    }

    img {
        filter: sepia(50%);
    }
}

.project-image-container {
    position: relative;
}

.project-border {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 25px;
    right: 0;
    top: 25px;
    bottom: 0;
    transition: 225ms;
    outline: 4px solid #000000;
    opacity: 0;
}

.project-arrow {
    position: absolute;
    top: 48%;
    right: -65px;
    border-radius: 100%;
    transform: rotate(135deg) scale(0.5);
    opacity: 0;
}

// @keyframes project-arrow {
//     0% {
//         opacity: 1;
//         transform: rotate(135deg) scale(0.5);
//     }
//     100% {
//         opacity: 1;
//         transform: rotate(0deg) scale(1);
//     }
// }

.desc-wrapper {
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    max-width: 550px;
}

.description-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 35%;
    gap: 15px;
    opacity: 0;
    transform: translateX(-1200px);

    h3 {
        font-family: Syne, Helvetica, sans-serif;
        font-weight: 800;
        font-size: 45px;
        line-height: 100%;
    }

    span {
        font-size: 23px;
        font-weight: 400;
        line-height: 120%;
        font-family: Overpass, Helvetica, sans-serif;

        color: var(--orange);
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        font-family: Overpass, Helvetica, sans-serif;
        position: unset;
    }
}

.project-btns {
    display: flex;
    justify-content: space-between;
    user-select: none;

    a {
        text-decoration: none;
        color: black;
        flex: 0 0 25%;
    }

    a.button {
        align-self: flex-start;
        position: unset;
        margin-top: 20px;
    }
}

// @keyframes descSlideRight {
//     0% {
//         transform: translateX(-1200px);
//         opacity: 0;
//     }
//     70% {
//         opacity: 0;
//     }

//     100% {
//         transform: translateX(0px);
//         opacity: 1;
//     }
// }

// Right Side //

.right-project-wrapper {
    flex-direction: row-reverse;

    p {
        left: 0;
    }

    .project-border {
        left: -25px;
    }

    .project-arrow {
        left: -65px;
        transform: rotate(-225deg) scale(0.5);
    }

    .description-card {
        transform: translateX(1200px);
    }
}

@media (max-width: 1200px) {
    .project-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 0;

        P {
            top: -84px;
        }
    }

    .description-card {
        transform: translateY(-1200px);
    }

    @keyframes descSlideDown {
        0% {
            transform: translateY(-1200px);
            opacity: 0;
        }
        70% {
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    .right-project-wrapper {
        .description-card {
            transform: translateY(-1200px);
        }

        @keyframes descSlideDown {
            0% {
                transform: translateY(-1200px);
                opacity: 0;
            }
            70% {
                opacity: 0;
            }

            100% {
                transform: translateY(0px);
                opacity: 1;
            }
        }
    }
}

@media (max-width: 768px) {
    .project-image {
        width: 100%;
        height: auto;
    }

    .project-image-container {
        margin: 0 40px 0 20px;
    }

    .right-project-wrapper {
        .project-image-container {
            margin: 0 20px 0 40px;
        }
    }
}

@media (max-width: 600px) {
    .project-wrapper {
        P {
            top: -60px;
            font-size: 23px;
        }
    }

    .project-border {
        left: 15px;
        top: 15px;
    }

    .project-arrow {
        top: 48%;
        right: -42px;
        height: auto;
        width: 100%;
        max-width: 50px;
    }

    .description-card {
        h3 {
            font-size: 32px;
        }
        span {
            font-size: 23px;
        }
        p {
            font-size: 16px;
        }
    }

    .right-project-wrapper {
        .project-border {
            left: -15px;
        }
    }

    .button {
        padding: 15px 40px 13px 40px;
    }
}

@media screen and (max-width: 480px) {
    .button {
        font-size: 18px;
        padding: 15px 30px 13px 30px;
    }
}

@media screen and (max-width: 300px) {
    .description-card {
        h3 {
            font-size: 23px;
        }
        span {
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }
    }
    .button {
        font-size: 16px;
        padding: 15px 15px 13px 15px;
    }
}

@media (hover: hover) {
    .project-wrapper:hover .project-border {
        opacity: 1;
    }

    .project-wrapper:hover .project-arrow {
        animation: project-arrow 225ms forwards ease-in-out;
    }

    .project-wrapper:hover .description-card {
        animation: descSlideRight 225ms forwards ease-in-out;
    }

    .project-wrapper {
        &:hover img {
            filter: unset;
        }
    }
    @keyframes descSlideRight {
        0% {
            transform: translateX(-1200px);
            opacity: 0;
        }
        70% {
            opacity: 0;
        }

        100% {
            transform: translateX(0px);
            opacity: 1;
        }
    }

    @keyframes project-arrow {
        0% {
            opacity: 1;
            transform: rotate(135deg) scale(0.5);
        }
        100% {
            opacity: 1;
            transform: rotate(0deg) scale(1);
        }
    }

    .right-project-wrapper:hover .project-border {
        opacity: 1;
    }

    .right-project-wrapper:hover .project-arrow {
        animation: project-arrow-right 225ms forwards ease-in-out;
    }

    .right-project-wrapper:hover .description-card {
        animation: descSlideLeft 225ms forwards ease-in-out;
    }

    .right-project-wrapper {
        &:hover img {
            filter: unset;
        }
    }
    @keyframes descSlideLeft {
        0% {
            transform: translateX(1200px);
            opacity: 0;
        }
        70% {
            opacity: 0;
        }
        100% {
            transform: translateX(0px);
            opacity: 1;
        }
    }

    @keyframes project-arrow-right {
        0% {
            opacity: 1;
            transform: rotate(-225deg) scale(0.5);
        }
        100% {
            opacity: 1;
            transform: rotate(-90deg) scale(1);
        }
    }
}

@media (hover: hover) and (max-width: 1400px) {
    .button {
        padding: 17px 25px 15px 25px;

        &:hover {
            padding: 17px 35px 15px 35px;
        }
    }
}

@media (hover: hover) and (max-width: 1200px) {
    .project-wrapper:hover .description-card {
        animation: descSlideDown 225ms forwards ease-in-out;
    }
}
