.project-wrapper {
    width: 85%;
    margin: 135px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    gap: 100px;

    p {
        font-family: "Syne";
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        font-feature-settings: "pnum" on, "lnum" on;
        position: absolute;
        top: -28px;
        right: 0;
    }

    img {
        filter: grayscale(100%);
    }

    &:hover img {
        filter: unset;
    }
}

.project-image-container {
    position: relative;
}

.project-image-container .project-image {
    // width: 100%;
    // max-width: 620px;
    // height: auto;
}

.project-wrapper:hover .project-border {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 25px;
    right: 0;
    top: 25px;
    bottom: 0;
    transition: 225ms;
    outline: 4px solid #000000;
    // opacity: 0;
}

// .project-border {
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     left: 25px;
//     right: 0;
//     top: 25px;
//     bottom: 0;
//     transition: 225ms;
//     outline: 4px solid #000000;
//     opacity: 0;

//     &:hover {
//         opacity: 1;
//     }
// }

.project-arrow {
    position: absolute;
    top: 186px;
    right: -63px;
    border-radius: 50%;
    transform: rotate(135deg) scale(0.5);
    opacity: 0;
}

.project-wrapper:hover .project-arrow {
    animation: project-arrow 225ms forwards ease-in-out;
}

@keyframes project-arrow {
    0% {
        opacity: 1;
        transform: rotate(135deg) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }
}

.desc-wrapper {
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}

.description-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 35%;
    gap: 15px;
    transform: translateX(-1200px);

    h3 {
        font-family: "Syne";
        font-weight: 800;
        font-size: 45px;
        line-height: 100%;
    }

    span {
        font-size: 23px;
        font-weight: 400;
        line-height: 120%;
        font-family: "Overpass";

        color: var(--text-orange);
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        font-family: "Overpass";
        position: unset;
    }

    div.button {
        align-self: flex-start;
        position: unset;
        margin-top: 20px;
    }
}

.project-wrapper:hover .description-card {
    animation: descSlideRight 225ms forwards ease-in-out;
}

@keyframes descSlideRight {
    0% {
        transform: translateX(-1200px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes descSlideDown {
    0% {
        transform: translateY(-1200px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 1200px) {
    .project-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 0;

        P {
            top: -84px;
        }
    }

    .description-card {
        transform: translateY(-1200px);
    }

    .project-wrapper:hover .description-card {
        animation: descSlideDown 225ms forwards ease-in-out;
    }
}
