.burger-menu {
    position: absolute;
    padding-top: var(--header-height);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--cream);
    z-index: 2;
}

nav {
    font-family: Syne, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.025em;
}

.navList {
    font-family: Syne, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.025em;
    padding: 0;
    height: calc(100vh - var(--burger-menu-footer-height));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

    a {
        text-decoration: none;
        font-weight: bold;
        color: unset;
        transition: 125ms;

        &:active {
            color: var(--orange);
        }
    }
}

.menu-hidden {
    display: none;
}

@media (hover: hover) {
    nav ul li a {
        &:hover {
            color: var(--orange);
        }
    }
}

.navList li {
    position: relative;
}

.navList li:after,
.navList li > :last-child:after {
    position: absolute;
    width: 15px;
    height: 20px;
    border-color: black;
    border-style: solid;
    content: " ";
}

.navList li:after {
    top: 20px;
    right: 20px;
    border-width: 0 0 0 0;
}

.navList li > :last-child:after {
    bottom: -15px;
    left: -15px;
    border-width: 0 0 4px 4px;
}

.navList li :hover:after {
    width: 200px;
    height: 20px;
}
