<div
    *ngIf="!navigate.menuCollapsed"
    id="burgerMenu"
    #burgerMenu1
    class="burger-menu"
>
    <nav>
        <ul class="navList">
            <li data-aos="fade-up">
                <a
                    (click)="
                        navigate.toggleMenu();
                        navigate.forceNavigate('about-me')
                    "
                    routerLink="#about-me"
                    >About me</a
                >
            </li>
            <li data-aos="fade-up" data-aos-delay="100">
                <a
                    (click)="
                        navigate.toggleMenu();
                        navigate.forceNavigate('my-skills')
                    "
                    routerLink="#my-skills"
                    >My skills</a
                >
            </li>
            <li data-aos="fade-up" data-aos-delay="150">
                <a
                    (click)="
                        navigate.toggleMenu();
                        navigate.forceNavigate('portfolio')
                    "
                    routerLink="#portfolio"
                    >Portfolio</a
                >
            </li>
        </ul>
    </nav>
    <app-burger-menu-footer></app-burger-menu-footer>
</div>
