.arrow-left {
    display: flex;
    justify-content: flex-end;
    margin: 20px auto 20px auto;
    padding-right: 50px;
    width: 85%;
    max-width: 1400px;
    cursor: pointer;

    img {
        transition: all 125ms ease-in-out;
    }

    &:hover img {
        transform: translateX(-80px) translateY(80px);
    }
}

@media (max-width: 600px) {
    .arrow-left {
        justify-content: center;
        margin: 76px auto;
        margin-top: 20px;
        padding: 0;

        img {
            height: auto;
            width: 180px;
        }
    }
}
