.arrow-left {
    display: flex;
    justify-content: flex-end;
    margin: 60px auto -60px auto;
    padding-right: 50px;
    width: 85%;
    max-width: 1400px;
    cursor: pointer;

    img {
        transition: all 125ms ease-in-out;
    }
}

@media (max-width: 600px) {
    .arrow-left {
        justify-content: center;
        margin: 60px auto 0 auto;
        padding: 0;

        img {
            height: auto;
            width: 180px;
        }
    }
}