<div id="contact">
    <div class="contact-wrapper">
        <h2>Say Hi!</h2>
        <div class="contact-form">
            <p>Want to discuss a new project?</p>
            <p>Say hello! let's discuss your ideas and make it happen</p>
            <form action="">
                <label for="fname"></label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Your name.."
                />
                <label for="email"></label>
                <input
                    type="text"
                    id="email"
                    name="email"
                    placeholder="Your email.."
                />
                <textarea
                    id="message"
                    name="message"
                    placeholder="Your message.."
                    style="height: 200px"
                ></textarea>

                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>
