<div id="contact">
    <div class="contact-wrapper">
        <h2>Say Hi!</h2>
        <div class="contact-form">
            <p>Want to discuss a new project?</p>
            <p>Say hello! Let's discuss your ideas and make it happen!</p>
            <form action="">
                <div class="floating-label-group">
                    <div class="border"></div>
                    <input type="text" id="name" name="name" required />
                    <label class="floating-label">Your name</label>
                    <span>Your name is required</span>
                    <img src="assets/img/green_check.svg" />
                </div>
                <div class="floating-label-group">
                    <div class="border"></div>
                    <input type="text" id="email" name="email" required />
                    <label class="floating-label">Your email</label>
                    <span>Your email is required</span>
                    <img src="assets/img/green_check.svg" />
                </div>
                <div class="floating-label-group">
                    <div class="border"></div>
                    <textarea
                        id="message"
                        name="message"
                        style="height: 200px"
                        autocomplete="off"
                        required
                    ></textarea>
                    <label class="floating-label">Your message</label>
                    <span>Your message is empty</span>
                    <img src="assets/img/green_check.svg" />
                </div>
                <button class="button" type="submit" value="Send message">
                    Send message
                </button>
            </form>
        </div>
    </div>
</div>
