#portfolio {
    width: 85%;
    max-width: 1400px;
    margin: 80px auto 20px auto;
    scroll-margin-top: 92px;
}

.headline-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: min-content;
    margin: 0 auto;

    p {
        font-family: "Overpass";
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        margin-top: 35px;
    }
}
