.head-section {
    position: relative;
    height: 100vh;
    height: 100svh;
    width: 85%;
    max-width: 1400px;
    padding-top: calc(112px + var(--header-height));
    margin: 0 auto;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        font-family: Syne, Helvetica, sans-serif;
        font-weight: 800;
        font-size: 128px;
        line-height: 100%;
        font-size: clamp(32px, 10vw, 128px);
    }
}

.subheadline {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    max-width: 900px;
    margin-top: 6px;
    white-space: nowrap;

    span {
        font-family: Syne, Helvetica, sans-serif;
        font-weight: 800;
        font-size: clamp(16px, 3vw, 30px);
        color: var(--orange);
    }

    .typed-cursor {
        font-size: clamp(16px, 3vw, 30px) !important;
    }

    .underline {
        width: 100%;
        border: 2px solid var( --color-line);
        margin-right: 15px;
    }
}

.address-scroll-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: Overpass, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 23px;
    line-height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
}

.email-address {
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-decoration: none;
    color: var(--color-text);
    transition: 125ms;
    cursor: pointer;
}

.scroll-down-container {
    text-align: center;
}

.arrow-down {
    height: 150px;
    position: relative;
    overflow: hidden;
}

.arrow-down img {
    position: absolute;
    top: -220px;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: arrowScroll 2600ms linear infinite;
}

@keyframes arrowScroll {
    0% {
        top: -220px;
    }

    50% {
        top: 220px;
    }

    100% {
        top: 220px;
    }
}

@media only screen and (max-width: 600px) {
    .head-section {
        padding-top: calc(20px + var(--header-height));
    }
    .message-btn {
        display: flex !important;
        margin: 50px auto;
        position: unset;
        width: 247px;
    }

    .address-scroll-container {
        font-size: 18px;

        img {
            width: 35px;
        }
    }
}

@media only screen and (max-width: 320px) {
    .message-btn {
        margin: 60px auto;
        padding: 15px 0;
        font-size: 18px;
        width: 170px;
    }

    .email-address {
        font-size: 20px;
    }
}

@media only screen and (hover: hover) and (pointer: fine) {
    .email-address {
        &:hover {
            color: var(--orange);
        }
    }
}
