<section>
    <div class="section" id="head-section" class="head-section">
        <div data-aos="zoom-in-up" data-aos-delay="300" class="headline">
            <h1>Frontend</h1>
            <h1>Developer</h1>
            <div class="subheadline">
                <div class="underline"></div>
                <!-- <p>Dennis Köster</p> -->
                <ngx-typed-js
                    [strings]="[
                        'Welcome to..',
                        'my portfolio!',
                        'My name is..',
                        'Dennis Köster'
                    ]"
                    [smartBackspace]="true"
                    [startDelay]="1000"
                    [typeSpeed]="100"
                    [backSpeed]="50"
                    [loop]="true"
                >
                    <span class="typing"></span>
                </ngx-typed-js>
            </div>
        </div>

        <div
            data-aos="zoom-in-up"
            data-aos-delay="500"
            (click)="navigate.forceNavigate('contact')"
            class="button message-btn d-none"
        >
            Send a message
        </div>

        <div class="address-scroll-container">
            <a (click)="navigate.forceNavigate('contact')" class="email-address"
                >contact@denniskoester.com</a
            >
            <div class="scroll-down-container">
                <div class="arrow-down">
                    <img src="./assets/img/arrow_down.svg" />
                </div>
                <p>Scroll</p>
                <p>Down</p>
            </div>
        </div>
    </div>
</section>
<script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
