<footer id="burger-menu-footer" class="d-none">
    <div class="footer-wrapper">
        <div class="footer-left">
            <h2>Say Hi!</h2>
            <a href="mailto: dennis.koester11@gmail.com"
                >dennis.koester11@gmail.com</a
            >
        </div>
        <div class="footer-right">
            <div class="social-links">
                <a href="https://github.com/DennisKoester" target="_blank"
                    ><img src="assets/img/github_icon.svg"
                /></a>
                <a href="mailto: dennis.koester11@gmail.com"
                    ><img src="assets/img/email_icon.svg"
                /></a>
                <a href="#" target="_blank"
                    ><img src="assets/img/linkedin_icon.svg"
                /></a>
            </div>
        </div>
    </div>
</footer>
