footer {
    width: 100%;
    background-image: url(/assets/img/bg_contact.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    color: var(--cream);
}

h2 {
    font-size: clamp(40px, 8vw, 78px);
    white-space: nowrap;
}

.footer-wrapper {
    width: 85%;
    max-width: 1400px;
    height: 100%;
    margin: 80px auto 40px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    a {
        font-family: Overpass, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
        color: var(--cream);
        text-decoration: none;
    }
}

.footer-right {
    display: flex;
    justify-content: flex-end;
}

.social-links {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    gap: 50px;

    a img {
        width: 30px;
        width: 30px;
        transition: transform 125ms ease-in-out;
    }
}

@media (hover: hover) {
    .social-links {
        a:hover img {
            transform: translateY(-10px);
        }
    }
}
