:root{
    --header-height: 92px;

    --text-orange: #ff9900;

}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Syne", sans-serif;
}

body {
    background-image: url(.//assets/img/pattern.svg);
    background-position: center;
    // margin: 0 100px 0 100px;
}

.d-none {
    display: none;
}

// @font-face {
//     font-family: 'Syne';
//     src: url('.//assets/syne-v15-latin-regular.ttf');
// }

@font-face {
    font-family: "Syne";
    src: url("./assets/syne-v15-latin-regular.ttf");
}
