#my-skills {
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
    display: flex;
    justify-content: center;
    scroll-margin-top: 170px;
}

.skills-frame {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 4px solid #000000;

    h2 {
        position: absolute;
        top: -42px;
        padding: 0 20px;
        margin: 0 auto;
        text-align: center;
        background-color: var(--cream);
        white-space: nowrap;
    }
}

.skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 120px 50px;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // flex: 1 0 17%; // ! Seems to work fine
    gap: 10px;
    width: 100px;
    height: 100px;
    margin: 20px 40px;

    span {
        font-family: Overpass Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .skills-frame {
        h2 {
            font-size: 55px;
            top: -28px;
        }
    }

    .skills-container {
        padding: 80px 50px;
    }
}

@media (max-width: 600px) {
    .skills-frame {
        h2 {
            font-size: 40px;
            top: -20px;
        }
    }

    .skills-container {
        padding: 30px;
    }

    .skill {
        height: 80px;
        width: 80px;
        margin: 10px;
        flex: unset;

        img {
            height: 50px;
        }
    }
}

@media (max-width: 320px) {
    .skills-frame {
        h2 {
            font-size: 28px;
            padding: 0 8px;
            top: -15px;
        }
    }
    .skills-container {
        padding: 15px;
    }
}

@media (hover: hover) {
    .skill {
        &:hover {
            color: var(--orange);
        }

        &:hover img {
            animation: flip 1s;
        }
    }
}

// .animated.flip {
//     -webkit-backface-visibility: visible;
//     backface-visibility: visible;
//     -webkit-animation-name: flip;
//     animation-name: flip;
//     -webkit-animation-duration: 1s;
//     animation-duration: 1s;
//     -webkit-animation-fill-mode: both;
//     animation-fill-mode: both;
// }
@-webkit-keyframes flip {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px)
            rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px)
            rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px)
            rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px)
            rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    80% {
        -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
        transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}
@keyframes flip {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px)
            rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px)
            rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px)
            rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px)
            rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    80% {
        -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
        transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}
