<div id="my-skills">
    <div class="skills-frame">
        <h2>My skills</h2>
        <div class="skills-container">
            <div class="skill">
                <img src="./assets/img/angular.svg" />
                <span>Angular</span>
            </div>
            <div class="skill">
                <img src="./assets/img/typescript.svg" />
                <span>Typescript</span>
            </div>
            <div class="skill">
                <img src="./assets/img/javascript.svg" />
                <span>Javascript</span>
            </div>
            <div class="skill">
                <img src="./assets/img/html.svg" />
                <span>HTML</span>
            </div>
            <div class="skill">
                <img src="./assets/img/css.svg" />
                <span>CSS</span>
            </div>
            <div class="skill">
                <img src="./assets/img/firebase.svg" />
                <span>Firebase</span>
            </div>
            <div class="skill">
                <img src="./assets/img/git.svg" />
                <span>Git</span>
            </div>
            <div class="skill">
                <img src="./assets/img/scrum.svg" />
                <span>Srum</span>
            </div>
            <div class="skill">
                <img src="./assets/img/api.svg" />
                <span>Rest Api</span>
            </div>
            <div class="skill">
                <img src="./assets/img/material-design.svg" />
                <span>Material Design</span>
            </div>
        </div>
    </div>
</div>
