.arrow-right {
    display: flex;
    justify-content: flex-start;
    margin: 55px auto 0px auto;

    width: 85%;
    max-width: 1400px;
    padding-left: 50px;
    cursor: pointer;

    img {
        transform: rotate(-90deg);
        transition: all 125ms ease-in-out;
    }
}

@media only screen and (max-width: 600px) {
    .arrow-right {
        justify-content: center;
        margin: 60px auto 0 auto;
        padding: 0;

        img {
            height: auto;
            width: 180px;
        }
    }
}
